<%- include ('../partials/boilerplate') %>

<form method='POST' action='/animals'>
  <input name='name' type='text' placeholder='Name' />
  <input name='cuteness' type='number' placeholder='Cuteness' />
  <input name='location' type='text' placeholder='Location'>
  <input name='species' type='text' placeholder='Species'>
  <input type='submit' value='Submit!' />
</form>

<%- include ('../partials/end') %>