<%- include ('partials/boilerplate') %>

  <div class="animals-intro">
    <p class="biganimal"></p>
    <h1><%= appName %></h1>
    <h2>🐶🐱🦁🐷🐸🦉🐢🐙🐋</h2>
  </div>

<script src='/src/main.js'></script>
<%- include ('partials/end') %>